article .bottom{
    margin-top: 30px;
}
article .bottom .tb{
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
article .bottom .tb .trr{
    height: 110px;
    margin: 10px auto;
}
article .bottom .tb .trr img{
    height: 62px;
    width: 80px;
}
article .bottom .tb .trr p{
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
}
article .bottom .list{
    margin: 70px auto;
    text-align: center;
    width: 324px;
    height: 34px;
    display: flex;
    justify-content: center;
}
article .bottom .list>li{
    width: 33px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #cccccc;
}
article .bottom .list>li:hover{
    background-color: #eeeeee;
}
article .bottom .list>li>a{
    font-size: 14px;
    color: #428bca;
}