/* banner样式 */
.banner{
    width: 100%;
    background: url(../images/banner_bg.png) repeat center center;
    background-size: 100%;
}

.banner .con{
    width: 61.1%;
    padding: 7%;
    margin-left: 15%;
}

.banner .con .img{
    float: left;
    width: 43%;
    margin-bottom: 7%;
}

.banner .con .font{
    float: left;
    width: 54%;
    margin-top: 7%;
    margin-left: 3%;
}

.banner .con .font h2{
    font-size: 36px;
    color: #fff7d4;
}

.banner .con .font span{
    font-size: 36px;
    color: #fff7d4;
    font-weight: lighter;
}

.banner .con .font p{
    font-size: 14px;
    color: #fff7d4;
    font-weight: lighter; 
    margin-top: 4%;
}

.banner .con .font a{
    display: block;
    width: 28.7%;
    height: 44px;
    border: 2px solid #ffffff;
    font-size: 18px;
    color: #fff7d4;
    text-align: center;
    line-height: 44px;
    margin-top: 4%;
}

.banner .status{
    width: 100%;
    margin-bottom: 3%;

}

.banner .status ul{
    width: 150px;
    margin: 0 auto;
}

.banner .status ul li{
    float: left;
    width: 40px;
    height: 5px;
    margin-left: 10px;
}

.banner .status ul li a{
    display: block;
    width: 40px;
    height: 5px;
    background-color: #f9dd6a;
}

.banner .status ul li a:hover{
    background-color: #fff;
}

/* content样式 */
.content{
    width: 100%;
}

.content span{
    display: block;
    color: #6f7071;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 15%; 
}

.content span>p{
    display:inline-block;
    color: #f9dd6a;
}
/* title样式 */
.content .title{
    width: 18.8%;
    margin: 4% auto 2%;
    text-align: center;
}

.content .title h2{
    font-size: 30px;
    color: #5b5b5b;
    font-weight: lighter;
}

.content .title img{
    margin-top: 3%;
}

.content .title p{
    font-size: 18px;
    color: #999999;
    font-weight: lighter;
}

/* head */
.content .head{
    width: 54.4%;
    margin: 0 auto;
}

.content .head ul{
    width: 100%;
    text-align: center;
}

.content .head ul li{
    float: left;
    width: 33.3%;
}

.content .head ul li a{
    width: 100%;
}

.content .head ul li a div{
    width: 100%;
    height: 129px;
    text-align: center;
    /* background: url(../images/web01.jpg) no-repeat center center; */
    /* filter: blur(5px);    滤镜模糊   */
    transition: all 0.5s linear;
    /* overflow: hidden; */
    position: relative;
}

.content .head ul li a div img{
    position: relative;
}

/* 
.content .head ul li:nth-child(2)>a>div{
    background: url(../images/web02.jpg) no-repeat center center;
}

.content .head ul li:nth-child(3)>a>div{
    background: url(../images/web03.jpg) no-repeat center center;
} */

.content .head ul li a div:hover{
    transform: scale(1.1);
}

.content .head ul li a div .p1{
    position: absolute;
    width: 86%;
    height: 100%;
    background-color: #5b5b5b;
    opacity: 0.6;
    left: 19px;
    top: 0px;
}

.content .head ul li a div h3{
    position: relative;
    text-align: center;
    bottom: 130px;
    line-height: 6rem;
    font-size: 20px;
    color: #fefefe;
    font-weight: lighter;
}

.content .head ul li a div span{
    position: relative;
    text-align: center;
    bottom: 150px;
    right: 20px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
}

/* top */
.content .top{
    width: 70%;
    margin: 3% auto;
}

.content .top ul{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content .top ul li{
    float: left;
    width: 33.3%;
    /* box-shadow: 0 0 1px 1px #999999; */
}

.content .top ul li .ct{
    border: 1px solid #dbdbdb;
    margin:  0 auto;
    width: 90%;
    box-shadow: 0 0 15px #dbdbdb;
    transition: all 0.4s linear;
}

.content .top ul li .ct img{
    border-bottom: 1px solid #e2e2e2;
}

.content .top ul li .ct h2{
    margin-top: 3%;
    font-weight: lighter;
    font-size: 27px;
    color: #5b5b5b;
    position: relative;
}

.content .top ul li .ct h2::after{
    content: "";
    position: absolute;
    width: 100px;
    left: 35%;
    border-bottom: 3px solid #f9dd6a;
    bottom: -7px;
}

.content .top ul li .ct p{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 14px;
    color: #626262;
}

.content .top ul li .ct:hover{
    transform: scale(1.05);
}


/* center */
.content .center{
    width: 70%;
    margin: 3% auto;
}

.content .center ul{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content .center ul li{
    float: left;
    width: 33.3%;
    /* box-shadow: 0 0 1px 1px #999999; */
}

.content .center ul li .ct{
    border: 1px solid #dbdbdb;
    margin:  0 auto;
    width: 90%;
    box-shadow: 0 0 15px #dbdbdb;
    transition: all 0.4s linear;
}

.content .center ul li .ct img{
    border-bottom: 1px solid #e2e2e2;
}

.content .center ul li .ct h2{
    margin-top: 3%;
    font-weight: lighter;
    font-size: 27px;
    color: #5b5b5b;
    position: relative;
}

.content .center ul li .ct h2::after{
    content: "";
    position: absolute;
    width: 100px;
    left: 35%;
    border-bottom: 3px solid #f9dd6a;
    bottom: -7px;
}

.content .center ul li .ct p{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 14px;
    color: #626262;
}

.content .center ul li .ct:hover{
    transform: scale(1.05);
}

/* bottom */
.content .bottom{
    width: 70%;
    margin: 3% auto;
}

.content .bottom ul{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content .bottom ul li{
    float: left;
    width: 33.3%;
    /* box-shadow: 0 0 1px 1px #999999; */
}

.content .bottom ul li .ct{
    border: 1px solid #dbdbdb;
    margin:  0 auto;
    width: 90%;
    box-shadow: 0 0 15px #dbdbdb;
    transition: all 0.4s linear;
}

.content .bottom ul li .ct img{
    border-bottom: 1px solid #e2e2e2;
}

.content .bottom ul li .ct h2{
    margin-top: 3%;
    font-weight: lighter;
    font-size: 27px;
    color: #5b5b5b;
    position: relative;
}

.content .bottom ul li .ct h2::after{
    content: "";
    position: absolute;
    width: 100px;
    left: 35%;
    border-bottom: 3px solid #f9dd6a;
    bottom: -7px;
}

.content .bottom ul li .ct p{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 14px;
    color: #626262;
}

.content .bottom ul li .ct:hover{
    transform: scale(1.05);
}

/* more */
.content .more a{
    display: block;
    margin: 4% auto;
    width: 140px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #f9dd6a;
    color: #fefefe;
}

.content .imgs{
    margin-top: 1%;
    margin-left: 14.3%;
}