/* 公共样式 */
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-image: linear-gradient(to bottom, #ededed, #ffffff);
}

/*header nav 导航 */
header{
    width: 100%;
    height: 230px;
    background: url(../images/leaf.png) no-repeat 81% top;
    position: relative;
}
header .logo{
    margin-left: 17%;
}
header .weibo{
    position: absolute;
    top: 0;
    right: 14.4%; 
}
header .nav-bar{
    width: 620px;
    height: 34px;
    line-height: 34px;
    display: flex;
    justify-content: start;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 36px;
    margin-right: 240px;
    box-shadow: 1px 1px 3px 1px #bbb;
}
header .nav-bar>li{
    margin-left: 10px;
    margin-top: 3px;
    line-height: 22px;
}
header .nav-bar>li>a{
    display: block;
    height: 28px;
    text-align: center;
    line-height: 28px;
    padding: 0 16px;
    font-size: 14px;
    color: #485461;
    border-radius: 15px;
}
header .nav-bar>li>a:hover{
    background-color: #fc8136;
    color: #ffffff;
}
header .nav-bar .active>a{
    background-color: #fc8136;
    color: #ffffff;
}
header .nav-bar .select{
    border-radius: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ebebeb;
    border: none;
    box-shadow: 0 0 2px 0px #485461 inset;
    /* background: url(../images/select.png) no-repeat 90% center; */
    text-indent: 6px;
    font-size: 10px;
    color: gray;
}


/* footer样式 */
footer{
    padding: 70px 0;
    width: 100%;
}
footer>a{
    margin-left: 32px;
}
footer>ul{
    width: 600px;
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
}
footer>ul>li{
    margin-left: 20px;
    line-height: 34px;
}
footer>ul>li>a{
    font-size: 14px;
    color: #000;
}
footer>ul>li>a:hover{
    color: #aaa;
}