/* 轮播图 */
.banner .item>img{
    width: 100%;
}
/* 游戏展示模块 */
#game-show{
    padding: 20px 0 80px;
}
#game-show .show-img>img{
    margin-top: 20px;
}
#game-show .show-title h2{
    font-size: 30px;
    color: #2a2a2a;
    margin-bottom: 20px;
}
#game-show .show-title p{
    font-size: 12px;
    color: #898989;
    width: 95%;
    line-height: 24px;
    margin-bottom: 20px;
}
#game-show .show-icon>div{
    margin-bottom: 30px;
}
#game-show .show-icon>div>img{
    width: 314px;
    height: 138px;
}
@media screen and (min-width:992px) and (max-width:1200px){
    #game-show .show-icon div img{
        width: 280px;
    }
}

/* 更多游戏 */
#game-list{
    padding-bottom: 50px;
}
#game-list .list-title>h2{
    font-size: 36px;
    color: #010101;
    margin-bottom: 38px;
}
#game-list .list-box>div{
    margin-bottom: 30px;
}
#game-list .list-box>div img{
    margin: auto;
}
#game-list .list-box img{
    width: 314px;
    height: 138px;
    border-radius: 10px;
}
#game-list .list-box p{
    font-size: 14px;
    color: #2a2a2a;
    margin-top: 10px;
}
@media screen and (max-width:992px){
    #game-list .list-box>div:last-child{
        display: none;
    }
}