.main{
    width: 188px;
    height: 125px;
    margin: 150px auto;
    position: relative;
    border: 0px solid black;
}

.box{
    width: 288px;
    height: 125px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(90deg) rotateY(87deg);
}

.box div{
    position: absolute;
    width:188px;
    height: 125px;
    background-color: white;
    opacity: 0.8;
    transition: all 0.4;
}

.pic{
    width: 100%;
    height: 100%;
}

.bottom{
    transform: rotateX(-90deg) translateZ(36px);
}

.front{
    transform: rotateX(-30deg) translateZ(-36px);
}

.left{
    /* transform-origin: 144px 0; */
    transform: rotateX(30deg) translateZ(36px) rotate(0deg);
}

.right{
    transform: rotateX(30deg) translateZ(36px) ;
}